@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ppt-header {
  font-family: 'Montserrat', sans-serif;
}
